# Ignore macOS hidden files.
.DS_Store

# Ignore code editor config files.
.nova/
.vscode/

# Ignore game pdx.
*.pdx
*.zip
art/
# Ignore C build output.
build/
[Ss]ource/pdex.bin
[Ss]ource/pdex.dylib
[Ss]ource/pdex.elf
tests/physics_test
